<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/worker.js')
                .then(function (registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                    registration.paymentManager.userHint = "Card number should be 16 digits";
                    registration.paymentManager
                        .enableDelegations(["shippingAddress", "payerName"])
                        .then(() => {
                            console.warn("q");
                        });
                })
                .catch(function (error) {
                    console.error('Service Worker registration failed:', error);
                });
        } else {
            console.error('Service Workers are not supported in this browser.');
        }

        function pay() {
            console.log("hello world");
            const createRequest = () => new PaymentRequest(
                [
                    {
                        supportedMethods: "https://localhost:7208/pay",
                        // supportedMethods: "https://play.google.com/billing",
                        data: {}
                    },
                ],
                {
                    total: { label: 'Donation', amount: { currency: 'USD', value: '55.00' } },
                    displayItems: [
                        {
                            label: 'Original donation amount',
                            amount: { currency: 'USD', value: '65.00' },
                        },
                        {
                            label: 'Friends and family discount',
                            amount: { currency: 'USD', value: '-10.00' },
                        },
                    ],
                },
            );

            // const req = createRequest();
            // req.canMakePayment().then(function (can) {
            //     if (can) {
            //         req.show().then(function (paymentResponse) {
            //             console.log("paymentResponse", paymentResponse);
            //             paymentResponse.complete('success').then(function () {
            //                 console.log('Payment completed successfully.');

            //                 alert('Payment successful！');
            //             }).catch(function (err) {
            //                 console.error('Payment completion failed:', err);
            //             });
            //         }).catch(function (err) {
            //             console.error('Payment failed:', err);
            //         });
            //     } else {
            //         console.error('canMakePayment() false:');
            //     }
            // }).catch(function (err) {
            //     console.error('canMakePayment() failed:', err);
            // });

            createRequest().canMakePayment().then(function (can) {
                if (can) {
                    createRequest().show().then(function (paymentResponse) {
                        console.log("paymentResponse", paymentResponse);
                        paymentResponse.complete('success').then(function () {
                            console.log('Payment completed successfully.');

                            alert('Payment successful！');
                        }).catch(function (err) {
                            console.error('Payment completion failed:', err);
                        });
                    }).catch(function (err) {
                        console.error('Payment failed:', err);
                    });
                } else {
                    console.error('canMakePayment() false:');
                }
            }).catch(function (err) {
                console.error('canMakePayment() failed:', err);
            });
        }
    </script>
</head>
<body>
    <button onclick="pay()">Start payment</button>
</body>
</html>